version: "3.9"
services:
  api:
    build:
      context: ./infra
      dockerfile: Dockerfile.api
    container_name: vetcan_api
    env_file: .env
    ports:
      - "4000:4000"
    depends_on:
      - db
      - redis
    volumes:
      - ./api:/usr/src/app

  worker:
    build:
      context: ./infra
      dockerfile: Dockerfile.worker
    container_name: vetcan_worker
    env_file: .env
    depends_on:
      - redis
      - api
    volumes:
      - ./worker:/usr/src/worker

  web:
    build:
      context: ./infra
      dockerfile: Dockerfile.web
    container_name: vetcan_web
    env_file: .env
    ports:
      - "5173:5173"
    volumes:
      - ./web:/usr/src/web

  db:
    image: postgres:15
    container_name: vetcan_db
    restart: always
    environment:
      POSTGRES_USER: vetcan
      POSTGRES_PASSWORD: vetcanpass
      POSTGRES_DB: vetcan
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: vetcan_redis
    restart: always
    ports:
      - "6379:6379"

volumes:
  db_data:
